## Deliverable 3. Create a Travel Itinerary Map.

In [10]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [11]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
0,3,Hobart,AU,63.05,broken clouds,-42.8794,147.3294,Mantra on Collins Hobart
1,4,Vaini,TO,86.16,few clouds,-21.2000,-175.2000,Keleti Beach Resort
2,5,Port Elizabeth,ZA,71.10,broken clouds,-33.9180,25.5701,39 On Nile Guest House
3,7,Hermanus,ZA,65.89,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
4,8,Avarua,CK,84.25,broken clouds,-21.2078,-159.7750,Paradise Inn

In [12]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City name<dd>{City}</dd>
<dt>Country code</dt><dd>{Country}</dd>
<dt>Weather description </dt><dd>{Weather description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [14]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Havelock"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Havelock"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="San Patricio"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Carlsbad"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Fortuna"]

In [17]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start =vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0] 
end =vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 =vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 =vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 =vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [18]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')

In [20]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
0,427,Havelock,US,53.98,overcast clouds,34.8791,-76.9013,Sherwood Motel
1,427,Havelock,US,53.98,overcast clouds,34.8791,-76.9013,Sherwood Motel
2,126,San Patricio,US,72.01,overcast clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
3,594,Carlsbad,US,61.95,clear sky,33.1581,-117.3506,Carlsbad Inn Beach Resort
4,388,Fortuna,US,50.47,overcast clouds,40.5982,-124.1573,Super 8 by Wyndham Fortuna

In [21]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City name<dd>{City}</dd>
<dt>Country code</dt><dd>{Country}</dd>
<dt>Weather description </dt><dd>{Weather description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))